@import url("http://fonts.cdnfonts.com/css/valorant");

#leaderboard {
  color: white;
}

.leaderboard-wrapper {
  background: var(--cSecondary);
  color: white;
  align-items: center;
  padding: 8rem 4rem 4rem 4rem;
  width: 100%;
  min-height: 100%;
  height: fit-content;
}

.leaderboard-wrapper h1 {
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
  font-family: "VALORANT Regular";
}

@media (max-width: 540px) {
  .leaderboard-wrapper {
    padding: 100px 10px 0 10px;
    margin: 0 0 0 0;
  }

  .leaderboard-wrapper h1 {
    margin-bottom: 1rem;
  }
}
