@import url('http://fonts.cdnfonts.com/css/valorant');

.form-body{
    display: flex;
}

.form{
    padding-right: 2rem;
}

.input{
    background-color: var(--cSecondary);
    padding: 12px 20px;
    outline: none;
    border: 1px solid var(--cPrimary);
    border-radius: 4px;
    margin-top: 1rem;
    color: var(--cPrimary);
}

.select{
    margin-top: 1rem;
    padding: 11px 4rem;
    border: none;
    border-radius: 4px;
    background-color: var(--cPrimary);
    color: white;
    outline: none;
    font-size: 14px;
}
.btn-profile{
    width: 200px;
    height: 100%;
  place-items: center;
  text-decoration: none;
  color: white;
  border: 1px solid var(--cPrimary);
  border-radius: 5px;
  background-color: var(--cPrimary);
  transition: ease-out 0.2s;
  box-shadow: inset 0 0 0 0 var(--cSecondary);
  margin-bottom: 2rem;
  padding: 12px 20px;
}

.btn-profile:hover {
    box-shadow: inset 200px 0 0 0 var(--cSecondary);
    cursor: pointer;
    color: var(--cPrimary);
  }