
@media (max-width: 540px) {
  .navbaritems {
    background: var(--cPrimary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: initial;
    z-index: 2;
    box-shadow: 0px 5px 12px rgba(77, 28, 32, 0.7);
  }

  .navbar-title {
    font-size: 28px;
  }
}

.navbaritems {
  background: var(--cPrimary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-title {
  color: var(--cSecondary);
  cursor: pointer;
  align-self: center;
  width: fit-content;
  font-family: "VALORANT Regular";
}

.navbar-title a {
  text-decoration: none;
  color: var(--cSecondary);
  font-family: "VALORANT Regular";
}

.menu-icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  color: var(--cSecondary);
}

img {
  max-width: 100%;
  max-height: 100%;
}
