@media (max-width: 540px) {
  .pCard {
  }

  .card-body {
    margin: 0 0 0 0;
    width: 100%;
    padding: 0 0.2rem 0 0.2rem;
  }

  .rank {
    display: flex;
    align-items: center;
    top: 50%;
    width: 10%;
    justify-content: center;
  }

  .name {
    margin-right: 0.5rem;
    font-size: 14px;
  }

  .tag {
    margin-right: 1rem;
    font-size: 14px;
    opacity: 70%;
  }

  .rr {
    font-size: 10px;
  }
}

.profile-body {
  border: 2px solid rgba(45, 62, 87, 0.5);
  border-radius: 8px;
  margin-top: 2rem;
  transition: ease-out 0.5s;
  margin-bottom: 3rem;
}

.profile-body:hover {
  border: 2px solid rgba(45, 180, 224, 1);
  border-radius: 12px;
}

.profile-body:hover .rank {
  color: rgb(21, 230, 245);
}

.pCard {
  display: flex;
  flex-direction: row;
}

.profile-description {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: center;
}

.p-name {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.p-tag {
  font-family: "Outfit", sans-serif;
  color: rgba(31, 110, 136, 1);
  transition: ease-out 0.3s;
}

.p-tag:hover {
  color: rgb(21, 230, 245);
  transition: ease-in 0.3s;
}

.p-rr {
  color: white;
  padding-top: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;
  opacity: 70%;
}



img{
  width: 100%;
  height: 100%;
}
